.animate {
  &--fade {
    transition: 1s ease opacity;
    opacity: 0;

    &.animate--visible {
      opacity: 1;
    }
  }

  &--fall {
    transition: 1s ease opacity, 1s ease transform;
    transform: translate(0, -10px);

    &.animate--visible {
      transform: translate(0, 0);
    }
  }
}
