.breadcrumbs{
  background: #232323;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 71px 0 0 0;

  @include media('>=tablet'){
    margin: 91px 0 0 0;
  }

  @include media('>=desktop'){
    margin: 120px 0 0 0;
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;

    li{
      list-style-type: none;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;

      &:last-of-type{
        &:after{
          display: none;
        }
      }

      &:after{
        content: "";
        width: 12px;
        height: 12px;
        background: url('../images/bread.svg') no-repeat center center;
        position: absolute;
        right: -26px;
        top: 2px;
        background-size: 100%;
      }

      span{
        color: #fff;
      }

      a{
        text-decoration: none;
        color: #969696;
      }
    }
  }
}
