@mixin dropdownOpen {
  .dropdown__items {
    opacity: 1;
    pointer-events: auto;

    @include media('<tablet'){
      display: flex !important;
    }
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;

  @include media('<tablet'){
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__items {
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    transition: opacity 0.3s;

    @include media('>=tablet'){
      position: absolute;
      left: 0;
      width: 100%;
      top: 100%;
    }

    @include media('<tablet'){
      display: none !important;
    }
  }

  // hover
  @media(pointer: fine){
    &:hover {
      @include dropdownOpen;
    }
  }

  // mobile
  @media(pointer: coarse){
    &.is-open {
      @include dropdownOpen;
    }
  }
}
