.footer{
  &__top{
    background: #363636;
    color: #fff;
    padding: 60px 0;

    @include media('>=tablet'){
      padding: 80px 0;
    }
  }

  &__list{
    p{
      margin-bottom: 10px;

      @include media('<tablet'){
        text-align: center;
      }

      span{
        color: #fff;
        display: block;

        @include media('>=tablet'){
          display: inline-block;
          min-width: 75px;
        }
      }

      a{
        text-decoration: none;
        transition: color 0.3s;
        color: #fff;

        @media(pointer: fine){
          &:active,
          &:focus,
          &:hover {
            color: #29b6f6;
          }
        }
      }

      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

  &__bottom{
    padding: 50px 0;
    background: #2c2c2c;
  }

  &__cols{
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;

    @include media('>=tablet'){
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('>=desktop'){
      gap: 0;
    }
  }

  &__logo{
    margin-bottom: 20px;
  }

  &__textbox{
    color: #fff;
    font-size: 14px;

    p{
      &:last-of-type{
        font-size: 11px;
        letter-spacing: 0.14em;
      }
    }
  }

  &__title.title{
    color: #878787;
    margin-bottom: 25px;
  }

  &__col{
    @include media('<tablet'){
      text-align: center;
    }

    ul{
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;

      li{
        list-style-type: none;

        a{
          text-decoration: none;
          color: #fff;
          transition: color 0.3s;

          @media(pointer: fine){
            &:active,
            &:focus,
            &:hover {
              color: #29b6f6;
            }
          }
        }
      }
    }
  }

  &--short{
    .footer__top{
      display: none;
    }
  }
}
