.header-nav{
  &__opener{
    transition: transform 0.3s;

    @include media('<tablet'){
      border: 1px solid #fff;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .is-open &{
      transform: scaleY(-1);
    }
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    flex-direction: column;

    @include media('>=tablet'){
      align-items: center;
      flex-direction: row;
    }

    li{
      list-style-type: none;

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          .header-nav__opener{
            transform: scaleY(-1);
          }

          a{
            &:before{
              width: 100%;
            }
          }
        }
      }

      a{
        text-decoration: none;
        position: relative;
        font-size: 20px;
        padding: 10px 0;

        @include media('>=tablet'){
          font-size: 17px;
        }

        &:before{
          content: "";
          width: 0;
          transition: width 0.3s;
          height: 1px;
          position: absolute;
          bottom: 9px;
          left: 0;
          background: #fff;
        }
      }

      ul{
        flex-direction: column;
        background: #fff;
        border-radius: 4px;
        align-items: flex-start;
        padding: 15px;
        gap: 20px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        margin-bottom: -15px;

        @include media('>=tablet'){
          width: 200px;
          margin-bottom: 0;
        }

        li{
          a{
            color: #069;
            font-size: 15px;

            @media(pointer: fine){
              &:active,
              &:focus,
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
