{% set title = 'Michal Šmerhovský | Kancelář daňového poradce ČR' %}

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#fff">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="robots" content="index,follow">
	<title>{{title}}</title>
	<meta name="description" content="{{title}}">
	{# <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png"> #}
	<link rel="stylesheet" href="css/style.min.css" type="text/css">
	<link rel="stylesheet" href="css/print.min.css" media="print">
	<link rel="manifest" href="config/manifest/manifest.json">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">



	<script type="text/javascript">
		var ajax = new XMLHttpRequest();
		ajax.open("GET", "svgs/svgs.svg", true);
		ajax.send();
		ajax.onload = function(e) {
			var div = document.createElement("div");
			div.innerHTML = ajax.responseText;
			document.body.insertBefore(div, document.body.childNodes[0]);
		}
	</script>
</head>
<body>
	<div class="site">
		{% block main %}
		{% endblock %}
	</div>

	<script src="js/scripts.js"></script>
</body>
</html>
