<section class="section">
	<div class="in">
		<div class="about">
			<div class="about__left">
				<h2 class="title title--2 about__title">O mě</h2>
				<div class="about__textbox">
					<p>Zabývám se vedením účetnictví a daňové evidence (DPH, mzdy, silniční daň apod.), zastupováním před úřady a daňovým poradenstvím. Také zajišťuji odklad placení daně z příjmů a sociálního a zdravotního pojištění. Komplexní služby nabízím od roku 1998, kdy jsem se stal členem KDP ČR. Mým krédem je kvalita, spokojenost klienta a co nejnižší odvody státu, což se daří.</p>
				</div>
			</div>
			<div class="about__right">
				<img src="images/about.png" alt="about" width="670" height="463">
			</div>
		</div>
	</div>
</section>
