<section class="section">
	<div class="in">
		<div class="boxes">
			<div class="boxes__item">
				<div class="boxes__line"></div>
				<div class="boxes__wrapper">
					<div class="boxes__top">
						<h2 class="boxes__title">Odklad daňového přiznání</h2>
						<div class="boxes__textbox">
							<p>Jako každý rok nabízím zajištění odkladu podání přiznání k dani z příjmů za rok 2020 do 30.6.2021 (bez zpracovnání přiznání)</p>
						</div>
					</div>
					{% include "../parts/btn.twig" with {
						'class': 'btn btn--full',
						'label': 'Více informací',
						'icon': '',
						'link': 'sluzby.html?tab=1'
					} %}
				</div>
			</div>
			<div class="boxes__item">
				<div class="boxes__line"></div>
				<div class="boxes__wrapper">
					<div class="boxes__top">
						<h2 class="boxes__title">Vedení účetnictví</h2>
						<div class="boxes__textbox">
							<p>Vedení účetnictví a daňové evidence včetně DPH a zpracování mezd (silniční daně spod.). Ceny za zpracování účetnictví jsou domluveny a stanoveny dle rozsahu zpracování paušální částkou za měsíc na základě smlouvy o vedení účetnictví, nikoli za zpracovanou položku (účetní doklad).</p>
						</div>
					</div>
					{% include "../parts/btn.twig" with {
						'class': 'btn btn--full',
						'label': 'Více informací',
						'icon': '',
						'link': 'sluzby.html?tab=2'
					} %}
				</div>
			</div>
			<div class="boxes__item">
				<div class="boxes__line"></div>
				<div class="boxes__wrapper">
					<div class="boxes__top">
						<h2 class="boxes__title">Zastupování před úřady</h2>
						<div class="boxes__textbox">
							<p>Pro klienty s vedením daňové evidence nebo účetnictví je tato služba automaticky zohledněna v ceně a je zdarma. Klient tímto komunikuje s úřady prostřednictvím naší kanceláře a nepřijde s úřady do styku. Na základě plné moci není klient přítomen při kontrole finančním úřadem, správou sociálního zabezpečení nebo zdravotní pojišťovnou a vše za Vás vyřídí naše kancelář....</p>
						</div>
					</div>
					{% include "../parts/btn.twig" with {
						'class': 'btn btn--full',
						'label': 'Více informací',
						'icon': '',
						'link': 'sluzby.html?tab=3'
					} %}
				</div>
			</div>
		</div>
	</div>
</section>
