<div class="contact">
	<div class="in">
		<div class="contact__left">
			<h2 class="title title--3 contact__title">Adresa</h2>
			<div class="contact__textbox">
				<p>Michal Šmerhovský<br>Nádražní 606/14<br>268 01 Hořovice</p>
			</div>
			<h2 class="title title--3 contact__title">Kontaktní informace</h2>
			<div class="contact__textbox">
				<p><span>Tel:</span><a href="tel:+420603520813">+420 603 520 813</a></p>
				<p><span>E-mail:</span><a href="mailto:smerhovsky@gmail.com">smerhovsky@gmail.com</a></p>
				<p><span>Skype:</span>michal.smerhovsky</p>
			</div>
		</div>
	</div>
	<div class="contact__map">
		<iframe style="border:none" src="https://frame.mapy.cz/s/ramesuravo" width="1400" height="725" frameborder="0"></iframe>
	</div>
</div>
