<footer class="footer">
	<div class="footer__bottom">
		<div class="in">
			<div class="footer__cols">
				<div class="footer__col">
					<img src="images/logo.svg" alt="logo" width="90" height="92" class="footer__logo">
					<div class="footer__textbox">
						<p>Michal Šmerhovský<br>Nádražní 606/14<br>268 01 Hořovice</p>
						<p>MICHAL ŠMERHOVSKÝ ©2024</p>
					</div>
				</div>
				<div class="footer__col">
					<h3 class="title title--3 footer__title">Služby</h3>
					<ul>
						<li><a href="sluzby.html?tab=1">Odklad daňového přiznání</a></li>
						<li><a href="sluzby.html?tab=2">Vedení účetnictví</a></li>
						<li><a href="sluzby.html?tab=3">Zastupování před úřady</a></li>
						<li><a href="sluzby.html?tab=1">Daňové poradenství</a></li>
					</ul>
				</div>
				<div class="footer__col">
					<h3 class="title title--3 footer__title">Kontakt</h3>
					<div class="footer__list">
						<p><span>E-mail:</span><a href="mailto:smerhovsky@gmail.com">smerhovsky@gmail.com</a></p>
						<p><span>Mobil:</span><a href="tel:+420 603 520 813">+420 603 520 813</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
