<div class="hero">
	<img src="images/hero.jpg" alt="hero" width="1308" height="923" class="hero__bg">
	<div class="in hero__in">
		<div class="hero__box">
			<h1 class="title title--1">MICHAL ŠMERHOVSKÝ <br><br>Kancelář daňového poradce ČR <br>(Člen KDP ČR)</h1>
			<div class="hero__textbox">
				<p>Jako každý rok nabízím zajištění odkladu přiznání a daně za předchozí rok do 30.6. tohoto roku. Vše z pohodlí Vaší kanceláře či bytu a za stejné ceny jako v minulých letech, fyzická osoba za 1500,- Kč a právnická osoba za 2500,- Kč bez DPH. Odklad daně zajištuji po celé ČR.</p>
			</div>
		</div>
	</div>
</div>
