<section class="section">
	<div class="in">
		<div class="references">
			<div class="references__top">
				<h2 class="title title--2 references__title">Reference</h2>
				<p>Zpracováváme účetnictví např. těchto firem:</p>
			</div>
			<section class="splide js-references references__carousel" aria-label="Carousel">
				<div class="splide__track">
					<ul class="splide__list">
						{% for item in items %}
							<li class="splide__slide">
								<div class="references__item">
									<div class="references__quote">
										<img src="images/quotes.png" alt="quote" width="14" height="22">
									</div>
									<div class="references__textbox">
										<p>{{ item.textbox }}</p>
										<p><strong>{{ item.author }}</strong></p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>
