<section class="tabs js-tabs">
	<div class="in">
		<nav class="js-tabs-nav">
			<div class="current">Odklad daňového přiznání</div>
			<div>Vedení účetnictví</div>
			<div>Zastupování před úřady</div>
			<div>Daňové poradenství</div>
		</nav>

		<div class="tabs__right">
			<div class="js-tabs-list tabs__content">
				<div>
					<section class="editor">
						<h1>Odklad daňového přiznání</h1>
						<p>Jako každý rok nabízím zajištění odkladu podání přiznání k dani z příjmů za předchozí rok do 30.6. ( POZOR: bez zpracování přiznání). Cena za odklad pro fyzickou osobu činí <strong>1500,- Kč</strong> a za právnickou osobu <strong>2500,- Kč bez DPH</strong>.</p>
						<p>POZOR ! Žádost o odklad lze uplatnit do 30.6. do 12:00 hodin a plné moci budou zaslány oproti potvrzení o provedení platby z banky zaslaného do 15:00 hodin. Po tomto termínu nebudou žádosti o odklad již akceptovány. Děkuji za pochopení.</p>

						<div class="center">
							{% include "../parts/btn.twig" with {
								'class': 'btn btn--full btn--green',
								'label': 'Chci odklad',
								'icon': '',
								'link': '/kontakt.html'
							} %}
						</div>

						<h2>Jak postupovat pro odklad daňového přiznání?</h2>
						<ul>
							<li>Zašlete mi žádost o odklad mailem společně s identifikačními údaji společnosti - <strong>stačí IČO a u právnické osoby jméno podepisujícího statutárního zástupce, u fyzické osoby IČO a DIČ, a to na mail</strong> smerhovsky@gmail.com</li>
							<li>Obratem Vám ze stejného emailu zašlu k úhradě fakturu za odklad. Platba předem je bohužel nutná po předchozích zkušenostech a děkuji za pochopení. Platba na účet je transparentní a o odklad se nemusíte obávat.</li>
							<li>Po připsání částky na účet Vám zašlu vyplněnou <strong>plnou moc</strong> na odklad daně. Takto zaslanou plnou moc <strong>SAMI DORUČÍTE v termínu pro podaní přiznaní</strong> na Váš finanční úřad, a to buď datovou schránkou, elektronicky se zaručeným elektronickým podpisem či fyzicky s originálním podpisem. Podpis daňového poradce na plné moci být nemusí !</li>
							<li><strong>Termínem pro podání přiznání se rozumí</strong> prodloužený termín, tedy datum <strong>30.6.</strong>. Tato plná moc může být zaslána až i jako součást daňového přiznání, ale toto podání musí být učiněno včas, tedy do 30.6..</li>
							<li>Fyzické osoby zašlou plnou moc též na zdravotní pojišťovnu a správu sociálního zabezpečení.</li>
							<li>Až budete mít hotové přiznání, zašlete ho v XML (a pokud možno v PDF) souboru na můj mail a já jej z mé datové schránky zašlu na FÚ. Tím je vše hotovo. <strong>Soubor ve formátu XML je nutný!</strong></li>
						</ul>
						<p>Vše se dá stihnout během několika minut, záleží na rychlosti převodu mezi bankami a způsobu doručení plné moci na FÚ.</p>
						<p>Pro klienty s vedením daňové evidence nebo účetnictví je tato služba zdarma. Zastupování před úřady státní správy na základě plné moci (FÚ, ČSSZ, zdravotní pojišťovny apod.). Pro klienty s vedením daňové evidence nebo účetnictví je tato služba automaticky zohledněna v ceně a je zdarma. Klient tímto komunikuje s úřady prostřednictvím naší kanceláře a nepřijde s úřady do styku.</p>
					</section>
				</div>
				<div hidden>
					<section class="editor">
						<h1>Vedení účetnictví</h1>
						<p>Smluvní cena za vedení daňové evidence se pohybuje od 2000,- Kč. Za zpracování podvojného účetnictví od 3000,- Kč za měsíc (bez DPH). <strong>V této ceně je i daňové poradenství a daňová optimalizace včetně odkladu placení daní</strong>.</p>
						<p><strong>Vedení účetnictví a daňové evidence</strong> včetně DPH a zpracování mezd (silniční daně spod.). Ceny za zpracování účetnictví jsou domluveny a stanoveny dle rozsahu zpracování paušální částkou za měsíc na základě smlouvy o vedení účetnictví, nikoli za zpracovanou položku (účetní doklad).</p>
						<p>V této ceně je popř. zahrnuto vedení mezd, tj. zpracování přehledů pro OSSZ (PSSZ), zdravotní pojišťovny, roční výkazy mezd pro FÚ, (měsíčně nemusíte ani nic podepisovat a vyplňovat, přijde Vám mailem "pouze" příkaz k úhradě), vedení a evidence daně silniční včetně sestavení a podání přiznání k této dani, sestavování a podávání přiznání k DPH je samozřejmostí.</p>
					</section>
				</div>
				<div hidden>
					<section class="editor">
						<h1>Zastupování před úřady</h1>
						<p>Zastupování před úřady státní správy na základě plné moci (FÚ, ČSSZ, zdravotní pojišťovny apod.).</p>
						<p>Pro klienty s vedením daňové evidence nebo účetnictví je tato služba automaticky zohledněna v ceně a je zdarma.</p>
						<p>Klient komunikuje s úřady prostřednictvím naší kanceláře a nepřijde s úřady do styku. Na základě plné moci nemusí být klient přítomen při kontrole finančním úřadem, správou sociálního zabezpečení nebo zdravotní pojišťovnou a vše za Vás vyřídí naše kancelář.</p>
					</section>
				</div>
				<div hidden>
					<section class="editor">
						<h1>Daňové poradenství</h1>
						<p>Daňové poradenství - Poradenství v oblasti daní a odvodů poplatků a plateb, a to buďto jednorázově nebo na základě smlouvy o daňovém poradenství.</p>
						<p>Hlavním cílem je zákonné snížení poplatků a daní. Při vedení účetnictví kontinuálně celoročně sledujeme klientův vývoj základu daně a pravidelně konzultujeme s klientem tento vývoj, a pokud je potřeba, optimalizujeme průběžný stav a základ daně tak, aby byl klient spokojen s aktuálním stavem daní a poplatků.</p>
					</section>
				</div>
			</div>
			<section class="faq">
				<h1 class="faq__title">Často kladené dotazy</h1>
				<div class="faq__list">
					<div class="faq__item">
						<div class="faq__question">Jak dlouho trvá celé vyřízení odkladu daňového přiznání?</div>
						<div class="faq__answer">Vše se dá stihnout během několika minut, záleží na rychlosti převodu mezi bankami a způsobu doručení plné moci na FÚ.</div>
					</div>
					<div class="faq__item">
						<div class="faq__question">Jak to funguje?</div>
						<div class="faq__answer">Zajištění odkladu placení daní z příjmů fyzických osob a právnických osob do 30.6. je zajištěno daňovým poradcem na základě plné moci k předložení daňového přiznání.</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
